In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
#import zipfile -- for later maybe
#with zipfile.ZipFile("src/original_data/original_data.zip") as zip_ref:
#    zip_ref.extractall("./original_data")

In [3]:
#importing data
data = pd.read_csv("src/original_data/child_ineq_data.csv")
cid_var_info = pd.read_stata("src/original_data/var_info.dta")

In [5]:
#renaming variables and dropping columns to match
cid_var_info = cid_var_info.astype({'survey_year':'str'})
cid_var_info["var_name"]=cid_var_info["readable_name"]+cid_var_info["survey_year"]
data = data.filter(items=cid_var_info["nlsy_name"], axis=1)
data.rename(columns = dict(zip(cid_var_info["nlsy_name"],cid_var_info["var_name"])), inplace = True)

In [6]:
#replacing negative values 
data = data.replace(list(range(-10,0)),np.nan)

In [8]:
#setting index
data.set_index(['HOUSEHOLD IDENTIFICATION NUMBERnan'])

,NUMBER OF WEEKS WORKED1979.0,NUMBER OF WEEKS WORKED1980.0,NUMBER OF WEEKS WORKED1981.0,NUMBER OF WEEKS WORKED1982.0,NUMBER OF WEEKS WORKED1983.0,NUMBER OF WEEKS WORKED1984.0,NUMBER OF WEEKS WORKED1985.0,NUMBER OF WEEKS WORKED1986.0,NUMBER OF WEEKS WORKED1987.0,NUMBER OF WEEKS WORKED1988.0,...,DATE OF BIRTH OF 6TH CHILD - YEARnan,DATE OF BIRTH OF 7TH CHILD - YEARnan,DATE OF BIRTH OF 8TH CHILD - YEARnan,DATE OF BIRTH OF 9TH CHILD - YEARnan,DATE OF BIRTH OF 10TH CHILD - YEARnan,DATE OF BIRTH OF 11TH CHILD - YEARnan,MALEnan,FEMALEnan,MALE_AGEnan,FEMALE_AGEnan
HOUSEHOLD IDENTIFICATION NUMBERnan,,,,,,,,,,,,,,,,,,,,,
1,52,-5,52,-5,-5,-5,-5,-5,-5,-5,...,-4,-4,-4,-4,-4,-4,2,1,20,54
2,34,52,52,52,52,52,52,52,52,52,...,-4,-4,-4,-4,-4,-4,2,1,20,39
3,38,40,-5,19,0,0,23,0,24,7,...,-4,-4,-4,-4,-4,-4,2,1,17,48
3,0,-5,0,16,2,0,0,32,48,37,...,-4,-4,-4,-4,-4,-4,2,1,16,48
5,46,46,52,26,13,12,-5,52,-5,52,...,-4,-4,-4,-4,-4,-4,1,1,19,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12682,0,0,25,15,11,9,-5,-5,-5,-5,...,-4,-4,-4,-4,-4,-4,1,-4,-4,-4
12683,0,0,0,0,0,0,-5,-5,-5,-5,...,-4,-4,-4,-4,-4,-4,1,2,-4,18
12684,0,0,0,0,0,24,-5,-5,-5,-5,...,-4,-4,-4,-4,-4,-4,1,-4,-4,-4
12685,0,29,42,52,52,52,-5,-5,-5,-5,...,-4,-4,-4,-4,-4,-4,1,2,22,57
12686,32,50,52,52,43,38,52,52,34,52,...,-4,-4,-4,-4,-4,-4,1,-4,18,-4

In [46]:
#defining gender variable
#data["sex"] = "Female" if data["FEMALEnan"].any() == 1.0 else "nan"
#data["sex"] = "Male" if data["MALEnan"].any() == 1.0 else "nan"